
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 270 86% 75%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 270 86% 75%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 262.1 83.3% 57.8%;

    --radius: 0.5rem;

    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 270 86% 75%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4% 16%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 4% 16%;
    --sidebar-ring: 262.1 83.3% 57.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-music-background text-music-text;
  }

  .music-card {
    @apply bg-music-card rounded-xl overflow-hidden hover:shadow-md hover:shadow-music-primary/20 transition-all duration-300;
  }

  .album-cover {
    @apply aspect-square w-full object-cover rounded-md overflow-hidden;
  }

  .playing-animation {
    @apply w-1 h-6 bg-music-primary mx-[1px];
  }
}
